<div class="item-container" >
  <app-competitor-item
          *ngFor=" let competitor of competitors$ | async"
          [competitor]="competitor"
          (onCompetitorUpdated)="updateCompetitor($event)"
          (competitorDeleted)="deleteCompetitor($event)"
  >
  </app-competitor-item>
</div>

<div class="add-btn" >
  <button mat-fab color="primary" [routerLink]="['new']" ><i class="material-icons">open_in_new</i></button>
  <button mat-fab color="primary" (click)="openImageDialog()" ><i class="material-icons">add</i></button>
</div>
