
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span @toolbar-title-enter >Competitors Manager</span>
  </mat-toolbar-row>
</mat-toolbar>

<div [hidden]="!loader.isLoading" >
    <mat-progress-bar mode="indeterminate" ></mat-progress-bar>
</div> 



<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 @title >
    Welcome to {{ title }}!
  </h1>

  <section class="button-group-container" >
    <button mat-raised-button routerLink="/" color="accent">Home</button>
    <button mat-raised-button routerLink="/competitors" color="accent">Competitors</button>
  </section>
</div>

<router-outlet></router-outlet>

