<mat-card class="card" @enter-item>
  
  <mat-card-header *ngIf="!editMode" >
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{competitor.Nombre}}</mat-card-title>
    <mat-card-subtitle><b>ID:</b> {{competitor.Id}}</mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-header *ngIf="editMode" >
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" [value]="competitor.Nombre" [(ngModel)]="competitorCopy.Nombre">
      </mat-form-field> 
    </mat-card-title>
    <mat-card-subtitle><b>ID:</b> {{competitor.Id}}</mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>

    <mat-list role="list" *ngIf="!editMode" >
      <mat-list-item role="listitem"><b>Code:  </b> {{competitor.Codigo}}</mat-list-item>
      <mat-list-item role="listitem"><b>Street:  </b> {{competitor.Calle}}</mat-list-item>
      <mat-list-item role="listitem"><b>Latitude:  </b> {{competitor.Latitud}}</mat-list-item>
      <mat-list-item role="listitem"><b>Longitud:  </b> {{competitor.Longitud}}</mat-list-item>
      <mat-list-item role="listitem"><b>Marker:  </b> {{competitor.Marcador}}</mat-list-item>
      <mat-list-item role="listitem"><b>Observer:  </b> {{competitor.Observar}}</mat-list-item>
      <mat-list-item role="listitem"><b>Brand Id:  </b> {{competitor.MarcaId}}</mat-list-item>
      <mat-list-item role="listitem"><b>Calle:  </b> {{competitor.Calle}}</mat-list-item>
      <mat-list-item role="listitem"><b>ZonaDePrecioId:  </b> {{competitor.ZonaDePrecioId}}</mat-list-item>
    </mat-list>

    <mat-list role="list" *ngIf="editMode" class="mat-list" >
      
      <mat-list-item role="listitem">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Code" [value]="competitor.Codigo" [(ngModel)]="competitorCopy.Codigo">
        </mat-form-field>      
      </mat-list-item>

      <mat-list-item role="listitem">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Street" [value]="competitor.Calle" [(ngModel)]="competitorCopy.Calle">
        </mat-form-field>  
      </mat-list-item>
  
      <mat-list-item role="listitem">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Latitude" [value]="competitor.Latitud" [(ngModel)]="competitorCopy.Latitud">
        </mat-form-field>  
      </mat-list-item>
  
      <mat-list-item role="listitem">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Longitude" [value]="competitor.Longitud" [(ngModel)]="competitorCopy.Longitud">
        </mat-form-field>  
      </mat-list-item>

      <mat-list-item role="listitem">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Marker" [value]="competitor.Marcador" [(ngModel)]="competitorCopy.Marcador">
        </mat-form-field>        
      </mat-list-item>

      <mat-list-item role="listitem">
         <mat-form-field class="example-full-width">
          <input matInput placeholder="Observer" [value]="competitor.Observar" [(ngModel)]="competitorCopy.Observar">
        </mat-form-field>       
      </mat-list-item>

      <mat-list-item role="listitem">
          <mat-form-field class="example-full-width">
          <input matInput placeholder="Brand ID" [value]="competitor.MarcaId" [(ngModel)]="competitorCopy.MarcaId">
        </mat-form-field>      
      </mat-list-item>

      <mat-list-item role="listitem">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Price Zone" [value]="competitor.ZonaDePrecioId" [(ngModel)]="competitorCopy.ZonaDePrecioId">
        </mat-form-field>       
      </mat-list-item>
    
    </mat-list>
  </mat-card-content>

  <mat-card-actions *ngIf="!editMode" >
    <button mat-raised-button (click)="toggleEditMode()" color="accent" >Edit</button>
    <button mat-raised-button (click)="deleteCompetitor()" color="warn" >Delete</button>
  </mat-card-actions>

  <mat-card-actions *ngIf="editMode" >
    <button mat-raised-button (click)="updateCompetitor()" color="accent" >Save</button>
    <button mat-raised-button (click)="toggleEditMode()" color="warn" >Cancel</button>
  </mat-card-actions>
</mat-card>