<mat-card class="card" @enter-item>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{competitor.Nombre}}</mat-card-title>
    <mat-card-subtitle><b>ID:</b> {{competitor.Id}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem">Codigo: {{competitor.Codigo}}</mat-list-item>
      <mat-list-item role="listitem">Calle: {{competitor.Calle}}</mat-list-item>
      <mat-list-item role="listitem">Latitud: {{competitor.Latitud}}</mat-list-item>
      <mat-list-item role="listitem">Longitud: {{competitor.Longitud}}</mat-list-item>
      <mat-list-item role="listitem">Marcador: {{competitor.Marcador}}</mat-list-item>
      <mat-list-item role="listitem">Observar: {{competitor.Observar}}</mat-list-item>
      <mat-list-item role="listitem">MarcaId: {{competitor.MarcaId}}</mat-list-item>
      <mat-list-item role="listitem">Calle: {{competitor.Calle}}</mat-list-item>
      <mat-list-item role="listitem">ZonaDePrecioId: {{competitor.ZonaDePrecioId}}</mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="toggleEditMode()" color="accent" >Editar</button>
    <button mat-raised-button (click)="deleteCompetitor()" color="warn" >Borrar</button>
  </mat-card-actions>
</mat-card>