<mat-dialog-content>

<mat-card class="card" @enter-item >
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>
      Create a new Competitor:
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="" 
      #form="ngForm" >

      <mat-form-field appearance="outline" >
        <mat-label>ID</mat-label>
        <input
          appIsValidCompetitorId
          (emitIsValdID)="idValidator($event)"
          matInput
          placeholder="Numeric Identifier"
          name="Id"
          required
          [(ngModel)]="competitor.Id"
          type="number"
          [errorStateMatcher]="matcher" >
        <mat-error 
          *ngIf="competitorFormControl.hasError('required')">
          ID is <strong>required</strong>
        </mat-error>
        <mat-error 
          *ngIf="!isValidIdInput">
          ID already <strong>exists</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" >
        <mat-label>Code</mat-label>
        <input
          matInput
          name="Codigo"
          required
          [(ngModel)]="competitor.Codigo"
          type="text"
          placeholder="Insert code">
        <mat-error 
          *ngIf="competitorFormControl.hasError('required')">
          Code is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" >
        <mat-label>Name</mat-label>
        <input
          (emitIsValdID)="idValidator($event)"
          matInput
          placeholder="Insert your name"
          name="Nombre"
          required
          [(ngModel)]="competitor.Nombre"
          type="text"
          [errorStateMatcher]="matcher" >
        <mat-error 
          *ngIf="competitorFormControl.hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" >
        <mat-label>Street</mat-label>
        <input
          (emitIsValdID)="idValidator($event)"
          matInput
          maxlenth="30"
          placeholder="Insert your name"
          name="Calle"
          required
          [(ngModel)]="competitor.Calle"
          type="text"
          [errorStateMatcher]="matcher" >
        <mat-error 
          *ngIf="competitorFormControl.hasError('required')">
          Streen is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" >
        <mat-label>Latitude</mat-label>
        <input
          type="number"
          pattern="^-?([1-8]?[1-9]|[1-9]0)\.{1}\d{1,6}"
          matInput
          placeholder="44.333304"
          name="Latitud"
          required
          [(ngModel)]="competitor.Latitud"
          [errorStateMatcher]="matcher">
        <mat-icon matSuffix>location_on</mat-icon>
        <mat-error 
          *ngIf="competitorFormControl.hasError('required')">
          Latitude is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" >
        <mat-label>Longitude</mat-label>
        <input
          type="number"
          pattern="^-?([1-8]?[1-9]|[1-9]0)\.{1}\d{1,6}"
          matInput
          placeholder="-89.132027"
          name="Longitud"
          required
          [(ngModel)]="competitor.Longitud"
          [errorStateMatcher]="matcher">
        <mat-icon matSuffix>location_on</mat-icon>
        <mat-error 
          *ngIf="competitorFormControl.hasError('required')">
          Longitude is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <section style="padding: 20px;" >
        <mat-slide-toggle
          name="Marcador"
          [(ngModel)]="competitor.Marcador">
          Marker
        </mat-slide-toggle>
      </section>

      <section style="padding: 20px;" >
        <mat-slide-toggle
          name="Observar"
          [(ngModel)]="competitor.Observar">
          Observer
        </mat-slide-toggle>
      </section>

      <mat-form-field > 
        <select
          matNativeControl
          name="MarcaId"
          required
          [(ngModel)]="competitor.MarcaId"
          placeholder="Brand ID"
          [errorStateMatcher]="matcher" >
          <option value=""></option>
          <option value="321321313254" >321321313254</option>
          <option value="765747655462" >765747655462</option>
        </select>
        <mat-error 
          *ngIf="competitorFormControl.hasError('required')">
          Brand ID is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field  >
        <select
          matNativeControl
          name="ZonaDePrecioId"
          required
          [(ngModel)]="competitor.ZonaDePrecioId"
          placeholder="Price Range"
          [errorStateMatcher]="matcher">
          <option value=""></option>
          <option value="1" >$ 100.000 - 500.000</option>
          <option value="2" >$ 500.000 - 800.000</option>
        </select>
        <mat-error 
          *ngIf="competitorFormControl.hasError('required')">
          Price Range is <strong>required</strong>
        </mat-error>
      </mat-form-field>

    </form>
  </mat-card-content>
  <mat-card-actions>
      <button
            (click)="addCompetitor()"
            [disabled]="!form.valid"
            mat-raised-button
            color="primary"
          >
            Create
          </button>
      <button
            (click)="resetForm()"
            mat-raised-button
            color="warn"
          >
            Reset
          </button>
  </mat-card-actions>
</mat-card>
</mat-dialog-content>
